In [1]:
import pandas as pd
import tweepy
import re

In [2]:
df= pd.read_csv("/home/aditya1117/Summer/april_tweets/2020-04-04_clean-dataset.tsv",sep='\t')
df.head()

              tweet_id      date    time
0  1246286712462086147  2020-4-4  4:1:21
1  1246286712667594752  2020-4-4  4:1:21
2  1246286712675811329  2020-4-4  4:1:21
3  1246286712726315009  2020-4-4  4:1:21
4  1246286713204486144  2020-4-4  4:1:21

In [3]:
x=df['tweet_id'].tolist()
x[0]

1246286712462086147

In [4]:
# credentials from https://apps.twitter.com/
consumerKey = "Y9ZxP12I6I7YueThIQ75QB8hN"
consumerSecret = "96TeoFc8LowcR994BtZiAj6GFcVJi9FH4Bltkt8kUav22a3iG0"
accessToken = "1257021136417759234-QzzyYsTfoPwRhyBbsNKM50JCZHIiL9"
accessTokenSecret = "tiJnb6rDEWPCw5OrJ83OiwaPXDxBRyLP9MARGxK7QpUdQ"

auth = tweepy.OAuthHandler(consumerKey, consumerSecret)
auth.set_access_token(accessToken, accessTokenSecret)

api = tweepy.API(auth)
#API setup complete

In [5]:
column_names = ["tweet_id", "tweet_text"]
df_tweets = pd.DataFrame(columns = column_names)
df_tweets

Empty DataFrame
Columns: [tweet_id, tweet_text]
Index: []

In [ ]:
count=0
for tid in x:
    try:
        tweet=api.get_status(tid)
        if tweet.lang == 'en':
            text=' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z\t])|(\w+:\/\/\S+)"," ",tweet.text).split())
            df2 = {'tweet_id': tid, 'tweet_text': text}
            df_tweets = df_tweets.append(df2, ignore_index=True)
            count=count+1
            print(count,end="\t")
            if(count>1000):
                break
    except:
        pass
df_tweets.to_csv("/home/aditya1117/Summer/april_tweets_1000/2020-04-04_clean-dataset_1000.tsv",sep="\t")
print(count)

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65

In [ ]:
count=0
for tid in x:
    try:
        tweet=api.get_status(tid)
        count=count+1
        text=' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z\t])|(\w+:\/\/\S+)"," ",tweet.text).split())
        print(text)
        if(count>100):
            break
    except:
        pass
print(count)

In [6]:
print(x[1])
tweet=api.get_status(x[0])
print(tweet.text)

1272681359941787653
ðŸ¦ ðŸ‡§ðŸ‡· ðŸ˜· #Brasil | #COVID19

Multan al ministro de EducaciÃ³n de Brasil por no usar tapabocas

https://t.co/PmBUjQbqY9â€¦ https://t.co/CAGpTW6yai