In [1]:
import pandas as pd

In [2]:
column_names = ["tweet_id", "tweet_text"]
df_tweets = pd.DataFrame(columns = column_names)

In [3]:
df2 = {'tweet_id': "abc", 'tweet_text': "Aditya"}
df_tweets = df_tweets.append(df2, ignore_index=True)
df_tweets

  tweet_id tweet_text
0      abc     Aditya

In [4]:
column_names = ["tweet_id", "tweet_text"]
df_tweets = pd.DataFrame(columns = column_names)

In [5]:
df_tweets

Empty DataFrame
Columns: [tweet_id, tweet_text]
Index: []